10-what-if-contract-changes-after-client-is-generated/WebContent/wsdl/HelloWorldService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:hws="http://helloworld.com/HelloWorldService/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="HelloWorldService"
	targetNamespace="http://helloworld.com/HelloWorldService/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://helloworld.com/HelloWorldService/">
			<xsd:element name="SayHelloRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="input" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="SayHelloResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="result" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="sayHelloRequestMessage">
		<wsdl:part element="hws:SayHelloRequest" name="username" />
	</wsdl:message>
	<wsdl:message name="sayHelloResponseMessage">
		<wsdl:part element="hws:SayHelloResponse" name="greeting" />
	</wsdl:message>
	<wsdl:portType name="HelloWorldService">
		<wsdl:operation name="sayHello">
			<wsdl:input message="hws:sayHelloRequestMessage" />
			<wsdl:output message="hws:sayHelloResponseMessage" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="HelloWorldServiceBinding" type="hws:HelloWorldService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="sayHello">
			<soap:operation soapAction="http://www.example.org/HelloWorldService/sayHello" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="HelloWorldService">
		<wsdl:port binding="hws:HelloWorldServiceBinding" name="HelloWorldServicePort">
			<soap:address
				location="http://localhost:8000/10-what-if-contract-changes-after-client-is-generated/helloworld/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
