09-webservice-using-wsdl-first-approach/WebContent/wsdl/HelloWorldPort.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:hws="http://www.rpsoft.com/helloworld/greeting/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="HelloWorldService" targetNamespace="http://www.rpsoft.com/helloworld/greeting/">
		
		<wsdl:types>
			<xsd:schema targetNamespace="http://www.rpsoft.com/helloworld/greeting/">
				<xsd:element name="SayHelloRequest" type="xsd:string"/>
				<xsd:element name="SayHelloResponse" type="xsd:string"/>
			</xsd:schema>
		</wsdl:types>
		
		<wsdl:message name="SayHelloRequestMessage">
			<wsdl:part element="hws:SayHelloRequest" name="userName"/>
		</wsdl:message>
		<wsdl:message name="SayHelloResponseMessage">
			<wsdl:part element="hws:SayHelloResponse" name="greetingMessage"/>
		</wsdl:message>
				
		<wsdl:portType name="HelloWorld">
			<wsdl:operation name="sayHello">
				<wsdl:input message="hws:SayHelloRequestMessage"/>
				<wsdl:output message="hws:SayHelloResponseMessage"/>
			</wsdl:operation>
		</wsdl:portType>
		
		<wsdl:binding name="HelloWorldBinding" type="hws:HelloWorld">
			<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
			<wsdl:operation name="sayHello">
				<wsdl:input>
					<soap:body use="literal"/>
				</wsdl:input>
				<wsdl:output>
					<soap:body use="literal"/>
				</wsdl:output>
			</wsdl:operation>
		</wsdl:binding>
		
		<wsdl:service name="HelloWorldService">
			<wsdl:port binding="hws:HelloWorldBinding" name="HelloWorldPort"> 
				<soap:address location="http://localhost:8000/09-webservice-using-wsdl-first-approach/services/HelloWorldPort"/>
			</wsdl:port>
		</wsdl:service>
		
</wsdl:definitions>
