09-webservice-using-wsdl-first-approach/WebContent/wsdl/HelloWorldService.autogenerated.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:hws="http://www.rpsoft.com/HelloWorldService/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="HelloWorldService"
	targetNamespace="http://www.rpsoft.com/HelloWorldService/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.rpsoft.com/HelloWorldService/">
			<xsd:element name="NewOperation">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="NewOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="NewOperationRequest">
		<wsdl:part element="hws:NewOperation" name="parameters" />
	</wsdl:message>
	<wsdl:message name="NewOperationResponse">
		<wsdl:part element="hws:NewOperationResponse" name="parameters" />
	</wsdl:message>
	<wsdl:portType name="HelloWorldService">
		<wsdl:operation name="NewOperation">
			<wsdl:input message="hws:NewOperationRequest" />
			<wsdl:output message="hws:NewOperationResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="HelloWorldServiceSOAP" type="hws:HelloWorldService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="NewOperation">
			<soap:operation
				soapAction="http://www.rpsoft.com/HelloWorldService/NewOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="HelloWorldService">
		<wsdl:port binding="hws:HelloWorldServiceSOAP" name="HelloWorldServiceSOAP">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
