304-web-service-inspect-soap-msg-inspector-handler/WebContent/wsdl/GreetingServiceSOAP.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:beans="http://rpsoft.com/ws/greeting/beans" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://rpsoft.com/ws/greeting" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="HelloService" targetNamespace="http://rpsoft.com/ws/greeting">

	<wsdl:types>
		<xsd:schema targetNamespace="http://rpsoft.com/ws/greeting/beans">
			<xsd:element name="PersonName">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="1" name="name" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GreetingMessage">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="1" name="message" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element abstract="false" name="GreetingException">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="cause" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="SendGreetingRequest">
		<wsdl:part element="beans:PersonName" name="personName"/>
	</wsdl:message>

	<wsdl:message name="SendGreetingResponse">
		<wsdl:part element="beans:GreetingMessage" name="greetingMessage"/>
	</wsdl:message>

	<wsdl:message name="GreetingException">
		<wsdl:part element="beans:GreetingException" name="greetingException"/>
	</wsdl:message>

	<wsdl:portType name="GreetingServicePort">
		<wsdl:operation name="sendGreeting">
			<wsdl:input message="tns:SendGreetingRequest"/>
			<wsdl:output message="tns:SendGreetingResponse"/>
			<wsdl:fault message="tns:GreetingException" name="greetingException"/>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="GreetingServiceSOAP" type="tns:GreetingServicePort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="sendGreeting">
			<soap:operation soapAction="http://rpsoft.com/ws/greeting/sendGreeting"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="GreetingService">
		<wsdl:port binding="tns:GreetingServiceSOAP" name="GreetingServiceSOAP">
			<soap:address location="http://localhost:8080/301-web-service-simulator/services/GreetingServiceSOAP"/>
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>
